.checkoutItem{
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.checkoutimg{
    height: 200px;
    width: 150px;
    margin-left: 170px;
}

.checkoutname,.checkoutprice,.checkoutquantity,.checkoutremove{
    display: flex;
    justify-content: center;
    width: 20%;
    margin:auto;
    font-weight: bolder;
}

.checkoutremove{
    cursor: pointer;
}

.increaseCount,.decreaseCount{
    cursor: pointer;
    font-weight: bolder;
    margin: auto 10px auto 10px;
    font-size: large;
}

.checkoutquantity{
    font-size: x-large;
}