.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item{
    flex: 1 1 auto;
    height: 240px;
    min-width: 28%;
    border: black solid 2px ;
    margin: 10px ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-item h1{
    border: black solid 2px ;
}











