.checkoutpage{
    display :flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin: 60px auto 30px auto;
}

.info{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    width: 20%;
    margin:auto;
    font-weight: bolder;
}

.heading:first-child{
    margin-left: auto;
}

.heading:last-child{
    margin-right: auto;
}

hr{
    height: 3px;
    width: 90%;
    align-self: center;
    background: gray;
}

.total{
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}

.totalprice{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}